version: '3.8'

services:
  app:
    container_name: notification_system_app
    build: .
    command: npm run dev
    ports:
      - "3020:3020"
    volumes:
      - .:/usr/src/app
    depends_on:
      - mongo
      - redis
    environment:
      - NODE_ENV=development
      - PORT=3020
      - MONGO_URI=mongodb://mongo:27017/notification_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - net

  mongo:
    container_name: notification_system_mongo
    image: mongo:4.4
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - net

  redis:
    container_name: notification_system_redis
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - net

volumes:
  mongo-data:
  redis-data:

networks:
  net:
    driver: bridge
